
img {max-width: 90%}
html {background-color: #1a1a1a}
body {
    font-family: "Helvetica Neue","Helvetica","Arial","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","SimSun","Microsoft YaHei",sans-serif !important;
    padding: 40px 20px;
    background-color: #1a1a1a;
    color: #f0f0f0;
    line-height: 1.75;
}
#idCont {
  max-width: 800px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {color: #b8e94a;}
strong, b {
  color: #e9d746!important;
  margin: 2px;
}
a {color: #88ccff}
code, pre {
    background-color: #333333;
    color: #dddddd;
    padding: 5px;
    border-radius: 4px;
    white-space: pre-wrap;
}
.markdown-body {
    background-color: #282828;
    color: #f0f0f0;
}